<!DOCTYPE html>
<html lang="en" class="mdl-js">
  <%= render "header.html.erb" %>
  <body>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading"><%= I18n.t(:error_404) %></h1>
        <p class="lead text-muted"><%= I18n.t(:page_not_found) %></p>
        <img src="https://media0.giphy.com/media/kBlPua2g1f66PGjT7w/giphy.gif?cid=790b76115d40552c6b38564a3660c0c2&rid=giphy.gif" alt="">
      </div>
  </body>
</html>
